<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Amp Noise</key>
	<dict>
		<key>isVisible</key>
		<false/>
	</dict>
	<key>Amp Server</key>
	<dict>
		<key>amp server</key>
		<string>NA400</string>
	</dict>
	<key>DIN Tester</key>
	<dict>
		<key>DIN duration</key>
		<dict>
			<key>ms</key>
			<integer>250</integer>
			<key>seconds</key>
			<integer>0</integer>
		</dict>
		<key>DIN tester</key>
		<integer>0</integer>
		<key>TR bit</key>
		<integer>0</integer>
		<key>always show DIN</key>
		<integer>1</integer>
		<key>bounce ms</key>
		<integer>0</integer>
		<key>log header</key>
		<integer>0</integer>
		<key>use 256 bits</key>
		<integer>0</integer>
	</dict>
	<key>Destination</key>
	<dict>
		<key>backup</key>
		<integer>0</integer>
		<key>backup delete</key>
		<string>Never</string>
		<key>backup path</key>
		<integer>0</integer>
		<key>destination</key>
		<integer>0</integer>
		<key>name</key>
		<integer>1</integer>
	</dict>
	<key>Developer</key>
	<false/>
	<key>Disclosure Bar States left</key>
	<dict>
		<key>Din Tester</key>
		<integer>1</integer>
		<key>ECG Simulator</key>
		<integer>0</integer>
		<key>EEG Simulator</key>
		<integer>1</integer>
		<key>MR Simulator</key>
		<integer>0</integer>
		<key>Miscellaneous</key>
		<integer>0</integer>
		<key>Sharing</key>
		<integer>1</integer>
		<key>Timed Recordings</key>
		<integer>1</integer>
	</dict>
	<key>Disclosure Bar States right</key>
	<dict>
		<key>Destination</key>
		<integer>0</integer>
		<key>ECI Events</key>
		<integer>0</integer>
		<key>General</key>
		<integer>1</integer>
		<key>Hardware Settings</key>
		<integer>1</integer>
		<key>MR Filter</key>
		<integer>0</integer>
		<key>Patient Info</key>
		<integer>1</integer>
		<key>Photic Stimulator</key>
		<integer>0</integer>
		<key>User Events</key>
		<integer>1</integer>
	</dict>
	<key>Display Settings</key>
	<dict>
		<key>Amplitude Scale</key>
		<string>7.5 µV/mm</string>
		<key>Highpass</key>
		<string>0.1 Hz</string>
		<key>Lowpass</key>
		<string>Off</string>
		<key>Montage</key>
		<string>PSG_1</string>
		<key>Montage Source</key>
		<string>HydroCel GSN 256 1.0</string>
		<key>Notch</key>
		<string>Off</string>
		<key>Polarity Up</key>
		<integer>0</integer>
		<key>Settings</key>
		<string>Sleep Study Pilot</string>
		<key>Time Reference</key>
		<string>sec/page</string>
		<key>Time Scale</key>
		<string>30</string>
		<key>montage editor visible</key>
		<false/>
	</dict>
	<key>Divider Thickness</key>
	<integer>0</integer>
	<key>ECG Simulator</key>
	<dict>
		<key>On/Off</key>
		<integer>1</integer>
		<key>ecg channel</key>
		<string>ECG</string>
		<key>ecg channel checkbox</key>
		<integer>1</integer>
		<key>eeg offset</key>
		<dict>
			<key>ms</key>
			<integer>250</integer>
			<key>seconds</key>
			<integer>0</integer>
		</dict>
		<key>eeg offset checkbox</key>
		<integer>1</integer>
		<key>heart rate</key>
		<integer>60</integer>
		<key>heart rate variability</key>
		<dict>
			<key>ms</key>
			<integer>50</integer>
			<key>seconds</key>
			<integer>0</integer>
		</dict>
		<key>heartbeat duration</key>
		<dict>
			<key>ms</key>
			<integer>416</integer>
			<key>seconds</key>
			<integer>0</integer>
		</dict>
		<key>qrs</key>
		<string>QR</string>
		<key>qrs checkbox</key>
		<integer>0</integer>
	</dict>
	<key>ECI Events</key>
	<dict>
		<key>Port States</key>
		<array>
			<true/>
			<false/>
			<false/>
			<false/>
		</array>
		<key>Timeout Pup Index</key>
		<integer>0</integer>
		<key>Track Names</key>
		<array>
			<string>ECI TCP-IP 55513</string>
			<string>ECI TCP-IP 55514</string>
			<string>ECI TCP-IP 55515</string>
			<string>ECI TCP-IP 55516</string>
		</array>
		<key>isVisible</key>
		<false/>
	</dict>
	<key>EEG Controller</key>
	<dict>
		<key>eegView_</key>
		<dict>
			<key>NSSplitView</key>
			<dict>
				<key>collapsed 1</key>
				<false/>
				<key>collapsed 2</key>
				<false/>
				<key>frame 1</key>
				<string>{{0, 0}, {283.5, 921}}</string>
				<key>frame 2</key>
				<string>{{293.5, 0}, {1924, 921}}</string>
			</dict>
			<key>channel settings</key>
			<dict>
				<key>PSG_1</key>
				<dict>
					<key>C3 (59 - 190)</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
						<key>height</key>
						<string>133.87500000</string>
					</dict>
					<key>C4 (183 - 94)</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
						<key>height</key>
						<string>133.87500000</string>
					</dict>
					<key>F3 (36 - 190)</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
						<key>height</key>
						<string>133.87500000</string>
					</dict>
					<key>F4 (224 - 94)</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
						<key>height</key>
						<string>133.87500000</string>
					</dict>
					<key>Left Eye (252 - 190)</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
						<key>height</key>
						<string>133.87500000</string>
					</dict>
					<key>Left Eye (54 - 190)</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
						<key>height</key>
						<string>133.87500000</string>
					</dict>
					<key>O1 (116 - 190)</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
						<key>height</key>
						<string>133.87500000</string>
					</dict>
					<key>O2 (150 - 94)</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
						<key>height</key>
						<string>133.87500000</string>
					</dict>
					<key>Right Eye (1 - 94)</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
						<key>height</key>
						<string>133.87500000</string>
					</dict>
					<key>gap height</key>
					<string>20.00000000</string>
				</dict>
				<key>Sensor Layout</key>
				<dict>
					<key>1</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>10</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>100</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>101</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>102</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>103</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>104</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>105</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>106</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>107</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>108</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>109</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>11</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>110</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>111</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>112</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>113</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>114</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>115</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>116</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>117</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>118</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>119</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>12</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>120</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>121</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>122</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>123</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>124</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>125</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>126</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>127</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>128</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>129</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>13</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>130</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>131</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>132</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>133</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>134</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>135</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>136</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>137</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>138</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>139</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>14</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>140</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>141</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>142</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>143</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>144</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>145</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>146</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>147</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>148</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>149</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>15</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>150</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>151</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>152</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>153</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>154</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>155</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>156</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>157</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>158</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>159</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>16</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>160</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>161</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>162</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>163</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>164</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>165</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>166</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>167</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>168</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>169</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>17</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>170</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>171</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>172</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>173</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>174</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>175</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>176</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>177</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>178</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>179</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>18</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>180</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>181</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>182</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>183</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>184</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>185</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>186</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>187</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>188</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>189</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>19</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>190</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>191</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>192</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>193</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>194</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>195</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>196</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>197</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>198</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>199</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>2</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>20</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>200</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>201</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>202</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>203</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>204</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>205</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>206</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>207</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>208</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>209</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>21</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>210</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>211</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>212</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>213</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>214</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>215</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>216</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>217</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>218</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>219</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>22</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>220</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>221</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>222</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>223</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>224</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>225</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>226</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>227</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>228</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>229</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>23</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>230</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>231</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>232</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>233</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>234</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>235</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>236</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>237</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>238</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>239</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>24</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>240</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>241</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>242</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>243</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>244</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>245</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>246</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>247</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>248</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>249</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>25</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>250</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>251</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>252</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>253</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>254</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>255</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>256</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>26</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>27</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>28</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>29</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>3</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>30</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>31</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>32</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>33</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>34</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>35</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>36</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>37</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>38</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>39</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>4</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>40</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>41</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>42</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>43</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>44</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>45</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>46</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>47</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>48</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>49</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>5</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>50</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>51</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>52</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>53</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>54</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>55</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>56</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>57</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>58</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>59</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>6</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>60</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>61</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>62</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>63</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>64</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>65</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>66</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>67</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>68</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>69</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>7</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>70</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>71</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>72</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>73</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>74</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>75</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>76</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>77</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>78</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>79</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>8</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>80</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>81</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>82</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>83</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>84</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>85</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>86</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>87</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>88</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>89</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>9</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>90</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>91</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>92</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>93</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>94</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>95</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>96</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>97</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>98</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>99</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>VREF</key>
					<dict>
						<key>dataType</key>
						<integer>0</integer>
					</dict>
					<key>gap height</key>
					<string>20.00000000</string>
				</dict>
			</dict>
		</dict>
		<key>psg at top</key>
		<integer>0</integer>
		<key>psgView_</key>
		<dict>
			<key>NSSplitView</key>
			<dict>
				<key>collapsed 1</key>
				<false/>
				<key>collapsed 2</key>
				<false/>
				<key>frame 1</key>
				<string>{{0, 0}, {283.5, 160}}</string>
				<key>frame 2</key>
				<string>{{293.5, 0}, {1924, 160}}</string>
			</dict>
			<key>channel settings</key>
			<dict>
				<key>Physio 16 set 60hz 1.0</key>
				<dict>
					<key>ECG</key>
					<dict>
						<key>amplitude oneToOne</key>
						<false/>
						<key>amplitude scale</key>
						<string>7.500</string>
						<key>dataType</key>
						<integer>1</integer>
						<key>height</key>
						<string>70.00000000</string>
						<key>highpass</key>
						<string>0.30</string>
						<key>lowpass</key>
						<integer>70</integer>
						<key>notch</key>
						<integer>60</integer>
						<key>polarity</key>
						<integer>0</integer>
					</dict>
					<key>EMG</key>
					<dict>
						<key>amplitude oneToOne</key>
						<false/>
						<key>amplitude scale</key>
						<string>7.500</string>
						<key>dataType</key>
						<integer>1</integer>
						<key>height</key>
						<string>70.00000000</string>
						<key>highpass</key>
						<string>10.00</string>
						<key>lowpass</key>
						<integer>100</integer>
						<key>notch</key>
						<integer>60</integer>
						<key>polarity</key>
						<integer>0</integer>
					</dict>
					<key>gap height</key>
					<string>20.00000000</string>
				</dict>
			</dict>
		</dict>
		<key>splitView_</key>
		<dict>
			<key>collapsed 1</key>
			<false/>
			<key>collapsed 2</key>
			<false/>
			<key>frame 1</key>
			<string>{{0, 0}, {2217.5, 961}}</string>
			<key>frame 2</key>
			<string>{{0, 971}, {2217.5, 160}}</string>
		</dict>
		<key>top track name</key>
		<string>ECI TCP-IP 55513</string>
	</dict>
	<key>EEG Simulator</key>
	<dict>
		<key>amplitude</key>
		<integer>100</integer>
		<key>body position stepper</key>
		<integer>0</integer>
		<key>drop rate</key>
		<real>0.0</real>
		<key>frequency</key>
		<integer>1</integer>
		<key>loop recording</key>
		<integer>1</integer>
		<key>path</key>
		<string></string>
		<key>resistor</key>
		<integer>10</integer>
		<key>sample rate</key>
		<string>250 s/s</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<key>Event List</key>
	<dict>
		<key>isVisible</key>
		<false/>
	</dict>
	<key>GTEN</key>
	<dict>
		<key>isVisible</key>
		<false/>
	</dict>
	<key>Gains</key>
	<dict>
		<key>isVisible</key>
		<false/>
	</dict>
	<key>Glass Gauge</key>
	<dict>
		<key>am/pm</key>
		<true/>
		<key>time format</key>
		<integer>0</integer>
	</dict>
	<key>Hardware Settings</key>
	<dict>
		<key>Align EEG</key>
		<integer>1</integer>
		<key>CANSL</key>
		<integer>0</integer>
		<key>DIN Events 9-16</key>
		<string>None</string>
		<key>PIB</key>
		<string>Physio 16 set 60hz 1.0</string>
		<key>Physio-16 Editor</key>
		<dict>
			<key>NSADINs</key>
			<dict>
				<key>Debounce</key>
				<false/>
				<key>NSADINs_1_8</key>
				<string>255 DINs</string>
			</dict>
			<key>isVisible</key>
			<false/>
		</dict>
		<key>Sampling Rate</key>
		<string>250 s/s</string>
	</dict>
	<key>Impedances</key>
	<dict>
		<key>isVisible</key>
		<false/>
	</dict>
	<key>MR Filter</key>
	<dict>
		<key>On/Off</key>
		<integer>1</integer>
		<key>TRs per volume</key>
		<integer>1</integer>
		<key>average type</key>
		<integer>1</integer>
		<key>volumes in average</key>
		<integer>0</integer>
	</dict>
	<key>MR Simulator</key>
	<dict>
		<key>artifact amplitude</key>
		<integer>100</integer>
		<key>artifact on</key>
		<integer>0</integer>
		<key>artifact time</key>
		<dict>
			<key>ms</key>
			<integer>0</integer>
			<key>seconds</key>
			<integer>1</integer>
		</dict>
		<key>tr on</key>
		<integer>0</integer>
		<key>tr time</key>
		<dict>
			<key>ms</key>
			<integer>56</integer>
			<key>seconds</key>
			<integer>2</integer>
		</dict>
		<key>trs per volume</key>
		<integer>1</integer>
	</dict>
	<key>Main Window</key>
	<dict>
		<key>frame</key>
		<string>{{0, 84}, {2560, 1333}}</string>
	</dict>
	<key>Net Noise</key>
	<dict>
		<key>isVisible</key>
		<false/>
	</dict>
	<key>PTZ</key>
	<dict>
		<key>PTZ Controls</key>
		<dict>
			<key>On/Off</key>
			<integer>1</integer>
			<key>PTZ Advanced Controls</key>
			<dict>
				<key>IR Filter AXIS Q6045</key>
				<integer>2</integer>
				<key>IR Filter AXIS Q6045 Mk II</key>
				<integer>2</integer>
				<key>IR Filter AXIS Q6055</key>
				<integer>2</integer>
				<key>audio input gain AXIS M1034-W</key>
				<string>Mute</string>
				<key>audio input gain AXIS M1065-L</key>
				<string>Mute</string>
				<key>audio input gain AXIS P3364-L</key>
				<string>Mute</string>
				<key>audio input gain AXIS Q6045</key>
				<string>Mute</string>
				<key>audio input gain AXIS Q6045 Mk II</key>
				<string>Mute</string>
				<key>audio input gain AXIS Q6055</key>
				<string>Mute</string>
				<key>auto iris AXIS Q6045</key>
				<integer>1</integer>
				<key>auto iris AXIS Q6045 Mk II</key>
				<integer>1</integer>
				<key>auto iris AXIS Q6055</key>
				<integer>1</integer>
				<key>backlight AXIS Q6045</key>
				<integer>0</integer>
				<key>backlight AXIS Q6045 Mk II</key>
				<integer>0</integer>
				<key>backlight AXIS Q6055</key>
				<integer>0</integer>
				<key>brightness AXIS Q6045</key>
				<integer>50</integer>
				<key>brightness AXIS Q6045 Mk II</key>
				<integer>50</integer>
				<key>brightness AXIS Q6055</key>
				<integer>50</integer>
				<key>iris AXIS Q6045</key>
				<integer>50</integer>
				<key>iris AXIS Q6045 Mk II</key>
				<integer>50</integer>
				<key>iris AXIS Q6055</key>
				<integer>50</integer>
				<key>rotation AXIS M1034-W</key>
				<string>0</string>
				<key>rotation AXIS M1065-L</key>
				<string>0</string>
				<key>rotation AXIS P3364-L</key>
				<string>0</string>
				<key>rotation AXIS Q6045</key>
				<string>0</string>
				<key>rotation AXIS Q6045 Mk II</key>
				<string>0</string>
				<key>rotation AXIS Q6055</key>
				<string>0</string>
			</dict>
			<key>advanced isVisible</key>
			<false/>
			<key>audio mute</key>
			<true/>
			<key>audio setting</key>
			<string>On</string>
			<key>audio volume</key>
			<real>0.0</real>
			<key>auto focus (null)</key>
			<integer>1</integer>
			<key>divider y</key>
			<real>426</real>
			<key>focus (null)</key>
			<integer>50</integer>
			<key>p</key>
			<string>0.0</string>
			<key>position</key>
			<string>Origin</string>
			<key>quality setting</key>
			<string>Medium</string>
			<key>t</key>
			<string>0.0</string>
			<key>timing isVisible</key>
			<false/>
			<key>z (camera)</key>
			<string>0.0</string>
		</dict>
		<key>frame</key>
		<string>{{1064, 422}, {432, 595}}</string>
		<key>isVisible</key>
		<false/>
	</dict>
	<key>Photic Stim</key>
	<dict>
		<key>isVisible</key>
		<false/>
	</dict>
	<key>Physio-16 Info</key>
	<dict>
		<key>isVisible</key>
		<false/>
	</dict>
	<key>Sharing</key>
	<dict>
		<key>allow exclusive access</key>
		<integer>1</integer>
		<key>amp sharing</key>
		<integer>0</integer>
		<key>ampless servers</key>
		<integer>0</integer>
		<key>connect exclusive</key>
		<integer>1</integer>
		<key>ip address</key>
		<string>127.0.0.1</string>
		<key>use static ip address</key>
		<integer>1</integer>
	</dict>
	<key>Spectral</key>
	<dict>
		<key>isVisible</key>
		<false/>
	</dict>
	<key>Tech Note</key>
	<dict>
		<key>Tech Note Window</key>
		<dict>
			<key>divider x</key>
			<real>680</real>
			<key>template</key>
			<string>TN Template Blank</string>
		</dict>
		<key>frame</key>
		<string>{{940, 523}, {680, 393}}</string>
		<key>isVisible</key>
		<false/>
	</dict>
	<key>Timed Recording</key>
	<string>Untimed</string>
	<key>Toolbar</key>
	<dict>
		<key>NSToolbarDisplayMode</key>
		<integer>2</integer>
		<key>NSToolbarSizeMode</key>
		<integer>1</integer>
		<key>bottom panel</key>
		<false/>
		<key>right panel</key>
		<false/>
	</dict>
	<key>User Events</key>
	<dict>
		<key>Event Set</key>
		<string>ERP Analysis</string>
		<key>isVisible</key>
		<false/>
	</dict>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
